.btn-default {
  border-radius: 2px;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 16px 32px;
  background-color: #02B9E6;
  border: none;
  color: #fff;
}
.btn-default:hover {
  background-color: #07a2c8;
  color: #fff;
}
