header {
  min-height: 640px;
  margin: 0;
  text-align: center;
  color: $primary_color_dark;
  background: #F7FAF9;

  text-rendering: optimizeLegibility;
  .container {
    padding-top: 250px;
    padding-bottom: 200px;
  }
  #video{
    margin-top: -50px;
    max-width: 320px;
  }
  .intro-text {
    float: right;
    max-width: 500px;
    text-align: left;
    font-weight: 100;
    h2 {
      font-size: 45px;
      font-weight: 100;
    }
    span {
      font-size: 24px;
      font-weight: lighter;
    }
    button {
      display: block;
      margin: 20px 0;
    }
  }
}
