.maplayer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
}
.friend-logo:hover {
  -webkit-transition: all 1s ease;
  -webkit-filter: grayscale(0);
}
.friend-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transition: all 1s ease;
  -webkit-filter: grayscale(1);
}
.loc-bx {
  margin-top: 42px;
  padding: 22px;
}
.loc-bx h2 {
  margin-top: 5px;
  margin-bottom: 20px;
  color: $color_dark;
}
