doctype html
html.no-js
	head
		meta(charset='utf-8')
		title Google I/O Extends Fortaleza 2016
		meta(content='', name='url')
		meta(content='', name='keywords')
		meta(content='', name='description')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		
		// build:css styles/vendor.css
		// bower:css
		link(rel='stylesheet' href='styles/main.css')
		// endbower
		// endbuild
		
		// build:css styles/main.css
		link(rel='stylesheet' href='styles/main.css')
		// endbuild

	body
		| <!--[if lt IE 10]>
		|	 <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		| <![endif]-->
		
		include ../includes/_header.jade
		
		block content
		
		include ../includes/_footer.jade
		
		// build:js scripts/vendor.js
		// bower:js
		script(src='/bower_components/jquery/dist/jquery.js')
		// endbower
		// endbuild
		
		script.
			! function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0],
			p = /^http:/.test(d.location) ? 'http' : 'https';
			if (!d.getElementById(id)) {
			js = d.createElement(s);
			js.id = id;
			js.src = p + "://platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js, fjs);
			}
			}(document, "script", "twitter-wjs");

		//- Google MAPS
		script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false')
		script(type='text/javascript').
			var geoPoint = new google.maps.LatLng(#{info.localization.lat}, #{info.localization.lng});

		// build:js scripts/app.js
		script(src='scripts/main.js')
		// endbuild
		
    
